<nav class="navbar">
    <div class="container-fluid" class="botones d-flex flex-row justify-content-around">
        <a [routerLink]=" ['/home']"><img src="https://space.meuno.net/images/meuno/ME-UNONET-letras-moradas-1.png"></a>
        <div>
            <button [routerLink]="['/home']">Inicio</button>
            <button [routerLink]="['/login']">Inicia Sesión</button>
            <button class="mx-3" [routerLink]="['/registrate']">Registrate</button>
            <button [routerLink]="['/eventos']">Nuestros Eventos</button>
            <button [routerLink]="['/contacto']">Contacto</button>
        </div>
    </div>
</nav>