<!-- Footer -->

<div class="p-3 mb-2 bg-dark text-white">
    <footer class="page-footer font-small dark pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3 bg-skyblue">

                    <!-- Content -->

                    <h5 class="text-uppercase">¿Quieres Publicitarte?</h5>
                    <p>Dejanos tus datos y nos pondremos en contacto contigo.</p>
                    <form class="publicitate">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-outline-success">
                    </form>


                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Redes Sociales</h5>

                    <ul class="list-unstyled">
                        <li>
                            <i class="fa-brands fa-whatsapp"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-facebook"></i>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Eventos</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="https://MeUno.com/">MeUno.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>