<nav class="navbar">
    <div class="container-fluid" class="botones d-flex flex-row justify-content-around">
        <a [routerLink]="['/home']"><img src="https://space.meuno.net/images/meuno/ME-UNONET-letras-moradas-1.png"></a>

        <div class="mx-3">
            <button routerLinkActive="active" [routerLink]="['/home']">Inicio</button>
            <button routerLinkActive="active" [routerLink]="['/login']">Accede</button>
            <button routerLinkActive="active" [routerLink]="['/registrate']">Registrate</button>
            <button routerLinkActive="active" [routerLink]="['/eventos']">Nuestros Eventos</button>

        </div>
    </div>
</nav>