nav {
    padding: 15px 10px;
    width:100%;
    height: 110%;
    background-color: #263238;
}

img {
    cursor: pointer;
    transition: .2s;
    height: 100px;
}

img:hover {
    transform: scale(1.1);
}

.botones{
width: 100%;
}

.botones button{
    margin-top: 50px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 700; 
    cursor: pointer;
    transition: .2s;

}

.botones button:hover,.botones button.active {
    color: black;
    background-color: white;
    border: 3px solid transparent;
}