<div class="container mt-5 mb-3 bg-light border-bottom  border-3 shadow ">
    <h1>Registrarse</h1>
    <hr>
    <form novalidate [formGroup]="modelForm" (ngSubmit)="getDataForm()">
        <div class=" my-2 ">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input class="form-control" type="text" id="username" formControlName="username"
                placeholder="introduce tu nombre de usuario">

            <p class="error" *ngIf="checkControl('username', 'required')">El campo es obligatorio</p>

            <p class="error" *ngIf="checkControl('username', 'minlength')">La longitud minima de nombre tiene que ser 3
                caracteres</p>

        </div>

        <div class="my-2">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="email" id="email" formControlName="email"
                placeholder="introduce tu email">

            <p class="error" *ngIf="checkControl('email', 'required')">El campo email requerido</p>
            <p class="error" *ngIf="checkControl('email', 'pattern')">El campo email no es valido</p>
        </div>

        <div class="my-2">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" id="password" formControlName="password"
                placeholder="introduce tu password">

            <p class="error" *ngIf="checkControl('password', 'required')">El campo es obligatorio</p>

            <p class="error" *ngIf="checkControl('password', 'minlength') || checkControl('password', 'maxlength')">La
                longitud entre 5 y 8 caracteres </p>

        </div>

        <div class="my-2">
            <label for="repeatpassword" class="form-label">Repite Password</label>
            <input class="form-control" type="password" id="repeatpassword" formControlName="repeatpassword"
                placeholder="repite el password anterior">
        </div>

        <p class="error" *ngIf="modelForm.hasError('passwordvalidator')">Las contraseñas no coinciden</p>

        <input type="submit" class="btn btn-warning mt-3 mb-3" value="Enviar" [disabled]="!modelForm.valid">



    </form>

</div>