<body class="home">
    <div class="container">
        <h1>Bienvenido a ¡Me Uno!</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar Evento" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Buscar</span>

            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Seleciona tipo de evento</option>
                <option value="1">Rock</option>
                <option value="2">Techno</option>
                <option value="3">Flamenco</option>
            </select>
        </div>
    </div>
    <section class="col-sm-4 col-md  col-12 col btn-close-white ">
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat adipisci, fugiat officiis autem
                ullam velit accusamus unde. Aspernatur, deleniti cumque! Excepturi facilis veritatis magni cupiditate
                repellendus nesciunt sit autem.</p>
        </article>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat adipisci, fugiat officiis autem
                ullam velit accusamus unde. Aspernatur, deleniti cumque! Excepturi facilis veritatis magni cupiditate
                repellendus nesciunt sit autem.</p>
        </article>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat adipisci, fugiat officiis autem
                ullam velit accusamus unde. Aspernatur, deleniti cumque! Excepturi facilis veritatis magni cupiditate
                repellendus nesciunt sit autem.</p>
        </article>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat adipisci, fugiat officiis autem
                ullam velit accusamus unde. Aspernatur, deleniti cumque! Excepturi facilis veritatis magni cupiditate
                repellendus nesciunt sit autem.</p>
        </article>
    </section>
</body>