<h1>
    Bienvenido a Me Uno!
</h1>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar Evento" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">Buscar</span>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Seleciona tipo de evento</option>
        <option value="1">Rock</option>
        <option value="2">Techno</option>
        <option value="3">Flamenco</option>
    </select>
</div>